*{
    margin: 0;
}
body{
    height: 100%;
}
.all{
    height: 1000px;
    background-color: burlywood;
}
#header{
    background-color: coral;
    height: 20%;
    width: 100%
}
#content{
    background-color: bisque;
    height: 60%;
    width: 100%;
}
#footer{
    background-color: darkkhaki;
    height: 20%;
    width: 100%;
}
.blocks{
    float: left;
}
.books{
    float: left;
    margin: 15px;
}
